.card-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-big {
  height: 500px;
  width: 500px;
}
.card-small{
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgb(200, 240, 120);
}
.card-hz {
  display: flex;
  align-items: center;
}
.updown {
  width: 500px;
  height: 50px;
  background-color: rgb(151, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left-right{
  height: 500px;
  width: 50px;
  background-color: rgb(151, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

